GestaoContratos/pkgs/Wadl/Blob.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/azureblob" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ArmazenamentodeBlobdoAzure" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Armazenamento de Blob do Azure">O Armazenamento do Microsoft Azure fornece um armazenamento massivamente escalonável, bem durável e altamente disponível para dados na nuvem, além de servir como a solução de armazenamento de dados para aplicativos modernos. Conecte-se ao Armazenamento de Blobs para realizar várias operações como criar, atualizar, obter e excluir em blobs na sua conta do Armazenamento do Azure.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/azureblob" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="Object" />
      <string name="BlobMetadata_Id_def" />
      <string name="BlobMetadata_Name_def" />
      <string name="BlobMetadata_DisplayName_def" />
      <string name="BlobMetadata_Path_def" />
      <dateTimeString name="BlobMetadata_LastModified_def" />
      <integer name="BlobMetadata_Size_def" />
      <string name="BlobMetadata_MediaType_def" />
      <boolean name="BlobMetadata_IsFolder_def" />
      <string name="BlobMetadata_ETag_def" />
      <string name="BlobMetadata_FileLocator_def" />
      <object name="BlobMetadata">
        <property name="Id" type="string" />
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Path" type="string" />
        <property name="LastModified" typeRef="BlobMetadata_LastModified_def" />
        <property name="Size" type="integer" />
        <property name="MediaType" type="string" />
        <property name="IsFolder" type="boolean" />
        <property name="ETag" type="string" />
        <property name="FileLocator" type="string" />
      </object>
      <string name="BlobMetadataResponse_Id_def" />
      <string name="BlobMetadataResponse_Name_def" />
      <string name="BlobMetadataResponse_DisplayName_def" />
      <string name="BlobMetadataResponse_Path_def" />
      <dateTimeString name="BlobMetadataResponse_LastModified_def" />
      <integer name="BlobMetadataResponse_Size_def" />
      <string name="BlobMetadataResponse_MediaType_def" />
      <boolean name="BlobMetadataResponse_IsFolder_def" />
      <string name="BlobMetadataResponse_ETag_def" />
      <string name="BlobMetadataResponse_FileLocator_def" />
      <object name="BlobMetadataResponse">
        <property name="Id" type="string" />
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Path" type="string" />
        <property name="LastModified" typeRef="BlobMetadataResponse_LastModified_def" />
        <property name="Size" type="integer" />
        <property name="MediaType" type="string" />
        <property name="IsFolder" type="boolean" />
        <property name="ETag" type="string" />
        <property name="FileLocator" type="string" />
      </object>
      <array typeRef="BlobMetadata" name="BlobMetadataPage_value_def" />
      <string name="BlobMetadataPage_nextLink_def" />
      <string name="BlobMetadataPage_nextPageMarker_def" />
      <object name="BlobMetadataPage">
        <property name="value" typeRef="BlobMetadataPage_value_def" />
        <property name="nextLink" type="string" />
        <property name="nextPageMarker" type="string" />
      </object>
      <string name="SharedAccessSignatureBlobPolicy_GroupPolicyIdentifier_def" />
      <string name="SharedAccessSignatureBlobPolicy_Permissions_def" />
      <dateTimeString name="SharedAccessSignatureBlobPolicy_StartTime_def" />
      <dateTimeString name="SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
      <string name="SharedAccessSignatureBlobPolicy_AccessProtocol_def" />
      <string name="SharedAccessSignatureBlobPolicy_IpAddressOrRange_def" />
      <object name="SharedAccessSignatureBlobPolicy">
        <property name="GroupPolicyIdentifier" type="string" />
        <property name="Permissions" type="string" />
        <property name="StartTime" typeRef="SharedAccessSignatureBlobPolicy_StartTime_def" />
        <property name="ExpiryTime" typeRef="SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
        <property name="AccessProtocol" type="string" />
        <property name="IpAddressOrRange" type="string" />
      </object>
      <string dtype="hyperlink" name="SharedAccessSignature_WebUrl_def" />
      <object name="SharedAccessSignature">
        <property name="WebUrl" type="string" dtype="hyperlink" />
      </object>
      <array typeRef="StorageAccount" name="StorageAccountList_value_def" />
      <object name="StorageAccountList">
        <property name="value" typeRef="StorageAccountList_value_def" />
      </object>
      <string name="StorageAccount_Name_def" />
      <string name="StorageAccount_DisplayName_def" />
      <object name="StorageAccount">
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
      </object>
      <object name="DataSetsMetadata">
        <property name="tabular" typeRef="TabularDataSetsMetadata" />
        <property name="blob" typeRef="BlobDataSetsMetadata" />
      </object>
      <string name="TabularDataSetsMetadata_source_def" />
      <string name="TabularDataSetsMetadata_displayName_def" />
      <string name="TabularDataSetsMetadata_urlEncoding_def" />
      <string name="TabularDataSetsMetadata_tableDisplayName_def" />
      <string name="TabularDataSetsMetadata_tablePluralName_def" />
      <object name="TabularDataSetsMetadata">
        <property name="source" type="string" />
        <property name="displayName" type="string" />
        <property name="urlEncoding" type="string" />
        <property name="tableDisplayName" type="string" />
        <property name="tablePluralName" type="string" />
      </object>
      <string name="BlobDataSetsMetadata_source_def" />
      <string name="BlobDataSetsMetadata_displayName_def" />
      <string name="BlobDataSetsMetadata_urlEncoding_def" />
      <object name="BlobDataSetsMetadata">
        <property name="source" type="string" />
        <property name="displayName" type="string" />
        <property name="urlEncoding" type="string" />
      </object>
      <string name="UpdateFile_V2_param_body_def" />
      <string name="GetFileContentByPath_V2_responses_200_def" />
      <string name="GetFileContent_V2_responses_200_def" />
      <string name="CreateFile_V2_param_body_def" />
      <array typeRef="BlobMetadata" name="ExtractFolder_V3_responses_200_def" />
      <string name="UpdateFile_param_body_def" />
      <string name="GetFileContentByPath_responses_200_def" />
      <string name="GetFileContent_responses_200_def" />
      <string name="CreateFile_param_body_def" />
      <array typeRef="BlobMetadata" name="ExtractFolderV2_responses_200_def" />
      <array typeRef="SharedAccessSignatureBlobPolicy" name="GetAccessPolicies_V2_responses_200_def" />
      <string name="CreateBlockBlob_V2_param_body_def" />
      <array typeRef="SharedAccessSignatureBlobPolicy" name="GetAccessPolicies_responses_200_def" />
      <string name="CreateBlockBlob_param_body_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/azureblob">
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique o blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataV2" actionName="GetFileMetadata_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetFileMetadata" siena:revision="2" siena:status="Production">
        <doc title="Obter Metadados do Blob (V2)&#xA;Esta operação obtém os metadados do blob usando a ID do blob." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especificar o blob a ser atualizado." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateFileV2" actionName="UpdateFile_V2" siena:isDeprecated="false" siena:family="UpdateFile" siena:revision="2" siena:status="Production">
        <doc title="Atualizar blob (V2)&#xA;Esta operação atualiza um blob no Armazenamento de Blobs do Azure." />
        <request>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a ser carregado." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que o arquivo for atualizado. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especificar o blob a ser excluído." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteFileV2" actionName="DeleteFile_V2" siena:isDeprecated="false" siena:family="DeleteFile" siena:revision="2" siena:status="Production">
        <doc title="Excluir blob (V2)&#xA;Esta operação exclui um blob." />
        <request>
          <param style="header" name="SkipDeleteIfFileNotFoundOnServer" type="xs:boolean" default="false">
            <doc title="Ignora a exclusão quando um arquivo não é encontrado no servidor." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/GetFileByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataByPathV2" actionName="GetFileMetadataByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetFileMetadataByPath" siena:revision="2" siena:status="Production">
        <doc title="Obter Metadados do Blob usando caminho (V2)&#xA;Esta operação obtém os metadados do blob usando um caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Especifique um caminho exclusivo para o blob." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/GetFileContentByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentByPathV2" actionName="GetFileContentByPath_V2" siena:isDeprecated="false" siena:family="GetFileContentByPath" siena:revision="2" siena:status="Production">
        <doc title="Obter conteúdo do blob usando um caminho (V2)&#xA;Esta operação obtém o conteúdo do blob usando um caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Especifique um caminho exclusivo para o blob." />
          </param>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Inferir o tipo de conteúdo com base na extensão." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}/content">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique o blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentV2" actionName="GetFileContent_V2" siena:isDeprecated="false" siena:family="GetFileContent" siena:revision="2" siena:status="Production">
        <doc title="Obter conteúdo do blob (V2)&#xA;Esta operação obtém o conteúdo do blob usando uma ID." />
        <request>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Inferir o tipo de conteúdo com base na extensão." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateFileV2" actionName="CreateFile_V2" visibility="important" siena:isDeprecated="false" siena:family="CreateFile" siena:revision="2" siena:status="Production">
        <doc title="Criar blob (V2)&#xA;Esta operação carrega um blob no Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Especifique o caminho da pasta a ser carregado." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Especifique o nome do blob a ser criado." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a ser carregado." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que a criação do arquivo for concluída. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/copyFile">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CopyFileV2" actionName="CopyFile_V2" visibility="advanced" siena:isDeprecated="false" siena:family="CopyFile" siena:revision="2" siena:status="Production">
        <doc title="Copiar blob (V2)&#xA;Essa operação copia um blob. Se o blob estiver sendo excluído ou renomeado no servidor depois de ser copiado, o conector poderá retornar o erro HTTP 404, de acordo com seu design. Aguarde um minuto antes de excluir ou renomear um blob recém-criado. Não há suporte para a transferência de partes nessa ação. Se a origem e o destino estiverem presentes na mesma conta de armazenamento, use um caminho relativo. Caso contrário, o tamanho máximo da origem para a operação de cópia de blob será 50 MB." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Especifique a URL para o blob de origem." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Especifique o caminho do blob de destino, incluindo o nome do blob de destino." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="O blob de destino deve ser substituído (true/false)?." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que a criação do arquivo for concluída. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/foldersV2/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique a pasta." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFolderV4" actionName="ListFolder_V4" visibility="advanced" siena:isDeprecated="false" siena:family="ListFolder" siena:revision="4" siena:status="Production">
        <doc title="Listar blobs (V2)&#xA;Esta operação lista os blobs em um contêiner." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Um marcador que identifica a parte da lista a ser retornada com a operação de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Se é para listar ou não blobs na listagem plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/foldersV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListRootFolderV4" actionName="ListRootFolder_V4" visibility="advanced" siena:isDeprecated="false" siena:family="ListRootFolder" siena:revision="4" siena:status="Production">
        <doc title="Lista os blobs na pasta raiz (V2)&#xA;Esta operação lista os blobs na pasta raiz do Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Um marcador que identifica a parte da lista a ser retornada com a operação de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Se é para listar ou não blobs na listagem plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/extractFolderV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ExtractFolderV3" actionName="ExtractFolder_V3" visibility="advanced" siena:isDeprecated="false" siena:family="ExtractFolder" siena:revision="3" siena:status="Production">
        <doc title="Extrair arquivo para pasta (V2)&#xA;Esta operação extrai um blob de arquivo para uma pasta (exemplo: .zip)." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Especifique o caminho para o blob de arquivo morto." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Especifique o caminho no Armazenamento de Blobs do Azure para extrair o conteúdo do arquivo morto." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="O blob de destino deve ser substituído (true/false)?." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ExtractFolder_V3_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique o blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadata" actionName="GetFileMetadata" visibility="advanced" siena:isDeprecated="true" siena:family="GetFileMetadata" siena:revision="1" siena:status="Production">
        <doc title="Obter Metadados do Blob&#xA;Esta operação obtém os metadados do blob usando a ID do blob." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especificar o blob a ser atualizado." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateFile" actionName="UpdateFile" siena:isDeprecated="true" siena:family="UpdateFile" siena:revision="1" siena:status="Production">
        <doc title="Atualizar blob&#xA;Essa operação atualiza um blob no Armazenamento de Blobs do Azure." />
        <request>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a ser carregado." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que o arquivo for atualizado. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especificar o blob a ser excluído." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteFile" actionName="DeleteFile" siena:isDeprecated="true" siena:family="DeleteFile" siena:revision="1" siena:status="Production">
        <doc title="Excluir blob&#xA;Esta operação exclui um blob." />
        <request>
          <param style="header" name="SkipDeleteIfFileNotFoundOnServer" type="xs:boolean" default="false">
            <doc title="Ignora a exclusão quando um arquivo não é encontrado no servidor." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/GetFileByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataByPath" actionName="GetFileMetadataByPath" visibility="advanced" siena:isDeprecated="true" siena:family="GetFileMetadataByPath" siena:revision="1" siena:status="Production">
        <doc title="Obter Metadados do Blob usando caminho&#xA;Esta operação obtém os metadados do blob usando um caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Especifique um caminho exclusivo para o blob." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/GetFileContentByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentByPath" actionName="GetFileContentByPath" siena:isDeprecated="true" siena:family="GetFileContentByPath" siena:revision="1" siena:status="Production">
        <doc title="Obter conteúdo do blob usando um caminho&#xA;Esta operação obtém o conteúdo do blob usando um caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Especifique um caminho exclusivo para o blob." />
          </param>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Inferir o tipo de conteúdo com base na extensão." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}/content">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique o blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContent" actionName="GetFileContent" siena:isDeprecated="true" siena:family="GetFileContent" siena:revision="1" siena:status="Production">
        <doc title="Obter conteúdo do blob&#xA;Esta operação obtém o conteúdo do blob usando uma ID." />
        <request>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Inferir o tipo de conteúdo com base na extensão." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateFile" actionName="CreateFile" visibility="important" siena:isDeprecated="true" siena:family="CreateFile" siena:revision="1" siena:status="Production">
        <doc title="Criar blob&#xA;Essa operação carrega um blob no Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Especifique o caminho da pasta a ser carregado." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Especifique o nome do blob a ser criado." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a carregar." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que a criação do arquivo for concluída. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/copyFile">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CopyFile" actionName="CopyFile" visibility="advanced" siena:isDeprecated="true" siena:family="CopyFile" siena:revision="1" siena:status="Production">
        <doc title="Copiar blob&#xA;Essa operação copia um blob. Se o blob estiver sendo excluído ou renomeado no servidor depois de ser copiado, o conector poderá retornar o erro HTTP 404, de acordo com seu design. Aguarde um minuto antes de excluir ou renomear um blob recém-criado. Não há suporte para a transferência de partes nessa ação. Se a origem e o destino estiverem presentes na mesma conta de armazenamento, use um caminho relativo. Caso contrário, o tamanho máximo da origem para a operação de cópia de blob será 50 MB." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Especifique a URL para o blob de origem." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Especifique o caminho do blob de destino, incluindo o nome do blob de destino." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="O blob de destino deve ser substituído (true/false)?." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Obtenha todos os metadados do arquivo do servidor depois que o arquivo for copiado. Se essa opção for false, talvez algumas propriedades de metadados não sejam retornadas, como a hora da última modificação etc." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/foldersV2/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Especifique a pasta." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFolderV2" actionName="ListFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ListFolder" siena:revision="2" siena:status="Production">
        <doc title="Listar blobs&#xA;Esta operação lista os blobs em um contêiner." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Um marcador que identifica a parte da lista a ser retornada com a operação de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Se é para listar ou não blobs na listagem plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/foldersV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListRootFolderV2" actionName="ListRootFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ListRootFolder" siena:revision="2" siena:status="Production">
        <doc title="Listas de blobs na pasta raiz&#xA;Esta operação lista os blobs na pasta raiz do Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Um marcador que identifica a parte da lista a ser retornada com a operação de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Se é para listar ou não blobs na listagem plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/extractFolderV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="ExtractFolderV2" actionName="ExtractFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ExtractFolder" siena:revision="2" siena:status="Production">
        <doc title="Extrair arquivo morto para pasta&#xA;Esta operação extrai um blob de arquivo morto para uma pasta (exemplo: .zip)." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Especifique o caminho para o blob de arquivo morto." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Especifique o caminho no Armazenamento de Blobs do Azure para extrair o conteúdo do arquivo morto." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="O blob de destino deve ser substituído (true/false)?." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ExtractFolderV2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/CreateSharedLinkByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateShareLinkByPathV2" actionName="CreateShareLinkByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="CreateShareLinkByPath" siena:revision="2" siena:status="Production">
        <doc title="Criar URI do SAS pelo caminho (V2)&#xA;Esta operação cria um link SAS para um blob usando o caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GroupPolicyIdentifier" path="/GroupPolicyIdentifier" type="xs:string" />
            <param style="plain" name="Permissions" path="/Permissions" type="xs:string" default="Read">
              <option value="Read" />
              <option value="Write" />
              <option value="Add" />
              <option value="Create" />
              <option value="Delete" />
              <option value="List" />
              <option value="Read,Write" />
              <option value="Read,Write,List" />
              <option value="Read,Write,List,Delete" />
            </param>
            <param style="plain" name="StartTime" path="/StartTime" type="service:SharedAccessSignatureBlobPolicy_StartTime_def" />
            <param style="plain" name="ExpiryTime" path="/ExpiryTime" type="service:SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
            <param style="plain" name="AccessProtocol" path="/AccessProtocol" type="xs:string">
              <option value="HttpsOnly" />
              <option value="HttpsOrHttp" />
            </param>
            <param style="plain" name="IpAddressOrRange" path="/IpAddressOrRange" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SharedAccessSignature" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/SetBlobTierByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="SetBlobTierByPathV2" actionName="SetBlobTierByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="SetBlobTierByPath" siena:revision="2" siena:status="Production">
        <doc title="Definir camada do blob pelo caminho (V2)&#xA;Esta operação define uma camada para um blob de blocos em uma conta de armazenamento padrão usando o caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
          <param style="query" name="newTier" type="xs:string" required="true">
            <doc title="A nova camada para o blob." />
            <option value="Hot" />
            <option value="Cool" />
            <option value="Archive" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/policies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nome da conta ou ponto de extremidade de blob do Armazenamento do Azure." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAccessPoliciesV2" actionName="GetAccessPolicies_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetAccessPolicies" siena:revision="2" siena:status="Production">
        <doc title="Obter as políticas de acesso disponíveis (V2)&#xA;Esta operação obtém as políticas de acesso compartilhado disponíveis para um blob." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetAccessPolicies_V2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/codeless/datasets/{storageAccountName}/CreateBlockBlob">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="O nome da conta de armazenamento." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateBlockBlobV2" actionName="CreateBlockBlob_V2" visibility="important" siena:isDeprecated="false" siena:family="CreateBlockBlob" siena:revision="2" siena:status="Production">
        <doc title="Criar blob de blocos (V2)&#xA;Esta operação carrega um blob de blocos no Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Especifique o caminho da pasta a ser carregado." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Especifique o nome do blob a ser criado." />
          </param>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a ser carregado." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/CreateSharedLinkByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateShareLinkByPath" actionName="CreateShareLinkByPath" visibility="advanced" siena:isDeprecated="true" siena:family="CreateShareLinkByPath" siena:revision="1" siena:status="Production">
        <doc title="Criar URI do SAS pelo caminho&#xA;Esta operação cria um link SAS para um blob usando o caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GroupPolicyIdentifier" path="/GroupPolicyIdentifier" type="xs:string" />
            <param style="plain" name="Permissions" path="/Permissions" type="xs:string" default="Read">
              <option value="Read" />
              <option value="Write" />
              <option value="Add" />
              <option value="Create" />
              <option value="Delete" />
              <option value="List" />
              <option value="Read,Write" />
              <option value="Read,Write,List" />
              <option value="Read,Write,List,Delete" />
            </param>
            <param style="plain" name="StartTime" path="/StartTime" type="service:SharedAccessSignatureBlobPolicy_StartTime_def" />
            <param style="plain" name="ExpiryTime" path="/ExpiryTime" type="service:SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
            <param style="plain" name="AccessProtocol" path="/AccessProtocol" type="xs:string">
              <option value="HttpsOnly" />
              <option value="HttpsOrHttp" />
            </param>
            <param style="plain" name="IpAddressOrRange" path="/IpAddressOrRange" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SharedAccessSignature" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/SetBlobTierByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="SetBlobTierByPath" actionName="SetBlobTierByPath" visibility="advanced" siena:isDeprecated="true" siena:family="SetBlobTierByPath" siena:revision="1" siena:status="Production">
        <doc title="Definir a camada de blob pelo caminho&#xA;Esta operação define uma camada para um blob de blocos em uma conta de armazenamento Standard usando o caminho." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
          <param style="query" name="newTier" type="xs:string" required="true">
            <doc title="A nova camada para o blob." />
            <option value="Hot" />
            <option value="Cool" />
            <option value="Archive" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/policies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetAccessPolicies" actionName="GetAccessPolicies" visibility="advanced" siena:isDeprecated="true" siena:family="GetAccessPolicies" siena:revision="1" siena:status="Production">
        <doc title="Obter as políticas de acesso disponíveis&#xA;Essa operação obtém as políticas de acesso compartilhado disponíveis para um blob." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="O caminho exclusivo do blob." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetAccessPolicies_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/CreateBlockBlob">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateBlockBlob" actionName="CreateBlockBlob" visibility="important" siena:isDeprecated="true" siena:family="CreateBlockBlob" siena:revision="1" siena:status="Production">
        <doc title="Criar um blob de blocos&#xA;Essa operação carrega um blob de blocos no Armazenamento de Blobs do Azure." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Especifique o caminho da pasta para carregar." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Especifique o nome do blob a ser criado." />
          </param>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Especifique o tipo de conteúdo do blob a carregar." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_azureblob" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>